<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>CoreServlet</servlet-name>
        <servlet-class>com.ralph.weixin.web.CoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoreServlet</servlet-name>
        <url-pattern>/coreServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateKey</servlet-name>
        <servlet-class>com.ralph.weixin.web.UpdateKey</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateKey</servlet-name>
        <url-pattern>/updateKeyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetMaterial</servlet-name>
        <servlet-class>com.ralph.weixin.web.GetMaterial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMaterial</servlet-name>
        <url-pattern>/getMaterialServlet</url-pattern>
    </servlet-mapping>
</web-app>